<div id="<%= dom_id daily_menu_item %>">
  <p>
    <strong>Name:</strong>
    <%= daily_menu_item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= daily_menu_item.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= daily_menu_item.category %>
  </p>

  <p>
    <strong>Daily menu:</strong>
    <%= daily_menu_item.daily_menu_id %>
  </p>

</div>
